# Dependencias
/node_modules

# Archivos y carpetas de Vercel local
/.vercel

# Archivos de compilación de TypeScript de las funciones
/api/**/*.js
/api/**/*.js.map

# Carpeta de Supabase (no para este deploy)
/supabase

# Archivos de entorno
.env

# Archivos del sistema operativo Mac
.DS_Store