# Dependencias
/node_modules

# Archivos de compilación de TypeScript
# (Excluyendo el code.js del plugin que sí necesitamos)
/callback/**/*.js
/login/**/*.js

# Carpeta de Supabase (no para este deploy)
/supabase

# Archivos de entorno (si los tuvieras)
.env

# Archivos del sistema operativo Mac
.DS_Store